.btn {
    background-color: white;
    border: none;
    color: rgb(27, 27, 27);
    padding: 12px 16px;
    margin: 0.25em 0.125em;
    font-size: 16px;
    cursor: pointer;
    size: 100%;
}

body {
    margin: 0.1em 1.25em 1em 1.25em;
    padding: 0.25em 0.125em;
}

button {
    width: 100%;
    margin: 0.25em 0.125em;
}

div {
    display: flex;
    justify-content: space-around;
}

.generated-password-button {
    box-sizing: border-box;
    padding: 0.25em 0.125em;
}

.generated-password-copy {
    box-sizing: border-box;
    padding: 0.25em 0.125em;
}

.generated-password-field {
    box-sizing: border-box; 
    font-size: 1.5em;
    margin-right: 0.25em;
    padding: 0.5em 0.125em;
    top: 50%;
}

.header-title {
    display: inline-block;
    padding: 0 0.125em;
    font-size: 1.25em;
    font-weight: 700;
}

input[type=text] {
    outline: 0;
    border-width: 0 0 2px;
    border-color: #a0a0a0;
    transition: border-color 0.25s;
}

input[type=text]:focus {
    border-color: royalblue;
}

.length-info {
    display: flex;
    text-align: center;
    white-space: nowrap;
}

.length-info-min {
    color: #a0a0a0;
}

.length-info-current {
    font-weight: 700;
    width: 100%;
}

.length-info-current-value {
    font-weight: 700;
}

.length-info-max {
    color: #a0a0a0;
}

.length-slider {
    margin-top: 0.5em;
    outline: none;
    width: 100%;
}

.password-field {
    padding: 0 0.125em;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 50px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}